<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="2">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>2.4-rc1
by widescape
www.widescape.com</string>
	<key>CFBundleShortVersionString</key>
	<string>2.4.0-rc1</string>
</dict>
</plist>
