<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="2">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>2.2
by widescape
www.widescape.net/widgets</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2</string>
</dict>
</plist>
